.bg-img {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/692/715/non_2x/gradient-geometric-background-vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div .card {
  box-shadow: 0px 5px 5px grey;
}

h2 {
  font-family: 'Lemonada', cursive;
}

.videobox {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videobox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}